@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Noto+Sans+KR:wght@700&display=swap');
body{
  font-family: 'Inter', sans-serif;
  /* font-family: 'Noto Sans KR', sans-serif; */
  background-color: #F4F4F4;
}

#title {
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}
p{
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  color:#625ECA;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.Tag{
  padding: 7px;
  border-radius: 10px;
  font-size: 100%;
  font-weight: 900;
}
.Tag a{
  white-space: nowrap;
}

.Tag1{
  background-color:  #FAEECF77;
}
.Tag2{
  background-color: #F9CCE877;
}
.Tag3{
  background-color: #CEE7E477;
}
.Tag4{
  background-color: #F8E1D177;
}
.Tag5{
  background-color: #E3E3E777;
}
.Tag6{
  background-color: #E1D2F677;
}
.Tag7{
  background-color: #C9E4FD77;
}
.Tag0{
  background-color: #CCF1F9;
}

img{
  width: 100%;
}

// .MuiPaper-root{
//   border-radius: 20px;
//   box-shadow: none;
// }

.css-hyum1k-MuiToolbar-root{
  height: 10%;
}
.container {
  /* 모달창 크기 */
  width: 600px;
  height: 600px;

  /* 최상단 위치 */
  z-index: 999;
  
  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  /* background-color: rgb(128, 128, 128); */
  border: 1px solid rgb(109, 109, 109);
  border-radius: 8px;
}
@mixin filledStyle() {
  background-color: black;
  color: white;
}
.css-s8ua1n{
  width: 30%;
}

@mixin alignCenter() {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
}
.css-1guk29{
  justify-content: center;
  align-items: center;

}

.DragDrop {
  @include alignCenter();
  
  &-File {
    width: 400px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    
    @include alignCenter();
    cursor: pointer;
    transition: 0.12s ease-in;

    &-Dragging {
      @include filledStyle();
    }
  }

  &-Files {
    margin-top: 1rem;

    & > div {
      width: 300px;
      padding: 8px;
      border: 1px solid black;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
    }

    &-Filter {
      cursor: pointer;
      
      &:hover {
        opacity: 0.7;
      }
    }
  }
  * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.file-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width:100%;
  position: relative;
  margin-top: 2rem;
}
.file-upload::after {
  content: "😷 😁 👨‍💻";
  position: absolute;
  font-size: 5rem;
  top: -18%;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.file-upload:hover::after {
  content: "🤘 😎 🤘";
}
.file-upload h2 {
  font-size: 1.5rem;
  color: #333;
  position: relative;
  padding-right: 1rem;
  margin-bottom: 1rem;
}
.file-upload p {
  font-size: 0.875rem;
  color: #ddd;
  margin-bottom: 1rem;
}
.custom-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0.875rem;
}
.custom-form-group input {
  padding: 0.875rem 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #333;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 0.875rem;
}
.custom-form-group input:focus {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.custom-file-drop-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px dashed #ddd;
  height: 200px;
  cursor: -webkit-grab;
  cursor: grab;
}
.custom-file-drop-area label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  color: #3333;
  text-transform: uppercase;
  font-weight: bold;
}
.custom-file-drop-area input {
  display: none;
}
.custom-file-drop-area.highlight {
  border-color: blue;
}
.custom-file-drop-area.highlight label {
  color: blue;
}
// .custom-file-preview {
//   display: -ms-grid;
//   display: grid;
//   -ms-grid-columns: (minmax(100px, 1fr)) [auto-fill];
//   grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
//   grid-auto-rows: 100px;
//   margin-top: 1rem;
//   gap: 10px;
// }
.custom-file-preview .prev-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.custom-file-preview .prev-img span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  color: #333;
  font-size: 0.87rem;
  padding-bottom: 0.1rem;
  width: 20px;
  height: 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50px;
  display: none;
}
.custom-file-preview .prev-img img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.custom-file-preview .prev-img:hover span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.custom-file-preview .prev-img:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #333;
  color: #f1f1f1;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 0.875rem 1.5rem;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.file-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  // width:100%;
  position: relative;
  margin-top: 2rem;
}
.file-upload h2 {
  font-size: 1.5rem;
  color: #333;
  position: relative;
  padding-right: 1rem;
  margin-bottom: 1rem;
}
.file-upload p {
  font-size: 0.875rem;
  color: #ddd;
  margin-bottom: 1rem;
}
.custom-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0.875rem;
}
.custom-file-drop-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px dashed #ddd;
  height: 200px;
  cursor: -webkit-grab;
  cursor: grab;
}
.custom-file-drop-area label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  color: #3333;
  text-transform: uppercase;
  font-weight: bold;
}
.custom-file-drop-area input {
  display: none;
}
.custom-file-drop-area.highlight {
  border-color: blue;
}
.custom-file-drop-area.highlight label {
  color: blue;
}
.custom-file-preview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr)) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  margin-top: 1rem;
  gap: 10px;
}
.custom-file-preview .prev-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.custom-file-preview .prev-img span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  color: #333;
  font-size: 0.87rem;
  padding-bottom: 0.1rem;
  width: 20px;
  height: 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50px;
  display: none;
}
.custom-file-preview .prev-img img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.custom-file-preview .prev-img:hover span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.custom-file-preview .prev-img:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.css-y0nnqy li {
  width: 100%;
}
.css-3zukih{
  flex-direction: row;
  flex-wrap: wrap;
}
//상단 검색바
.css-1v4ccyo{
  width: 100%;
}

.css-1j8yxs3{
  box-shadow: none;
}