@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Noto+Sans+KR:wght@700&display=swap');
body{
  font-family: 'Inter', sans-serif;
  /* font-family: 'Noto Sans KR', sans-serif; */
  background-color: #F4F4F4;
}

#title {
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}
p{
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  color:#625ECA;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.Tag{
  padding: 7px;
  border-radius: 10px;
  font-size: 100%;
  font-weight: 900;
}

.Tag1{
  background-color:  #FAEECF77;
}
.Tag2{
  background-color: #F9CCE877;
}
.Tag3{
  background-color: #CEE7E477;
}
.Tag4{
  background-color: #F8E1D177;
}
.Tag5{
  background-color: #E3E3E777;
}
.Tag6{
  background-color: #E1D2F677;
}
.Tag7{
  background-color: #C9E4FD77;
}

img{
  width: 100%;
}

.MuiPaper-root{
  border-radius: 20px;
  box-shadow: none;
}

.css-hyum1k-MuiToolbar-root{
  height: 10%;
}