
*{
  box-sizing: border-box;
  margin : 0;
  padding : 0;
  outline:0;
}

.sidebar-container {
  flex-grow: 0;
  flex-shrink: 0;
  pointer-events: none;
  position: relative;
  z-index: 111;
  background: rgb(251, 251, 250);
  transition: box-shadow 300ms ease 0s;
  box-shadow: rgba(0, 0, 0, 0.024) -1px 0px 0px 0px inset;
  width: 244px;
  cursor: default;

  & div {
    color: rgba(25, 23, 17, 0.6);
    font-weight: 500;
    height: 100%;
  }

  // & div div {
  //   position: absolute;
  //   top: 0px;
  //   left: 0px;
  //   bottom: 0px;
  //   display: flex;
  //   flex-direction: column;
  //   width: 0px;
  //   overflow: visible;
  //   z-index: 9;
  //   pointer-events: none;
  // }
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  pointer-events: auto;
  width: 244px;
  opacity: 1;

  & div {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
  }
  & div div {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
  }
}

.sidebar-switcher {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: 0px;
  height: 45px;
  width: 100%;
  margin-bottom: 0px;
  padding: 0px;

  & div {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    min-height: 27px;
    padding: 2px 14px;
    margin-top: 1px;
    margin-bottom: 1px;
    overflow: hidden;
    margin-left: 0px;
  }
}
.sidebar-top {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 4px;
  margin-right: 4px;
  width: calc(100% - 8px);

  & div {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    min-height: 27px;
    padding: 2px 10px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}
.scroller {
  padding-top: 6px;
  padding-bottom: 20px;
  box-shadow: transparent 0px 0px 0px inset;
  transition: box-shadow 300ms ease 0s;
  z-index: 1;
  overflow: hidden auto;
  margin-right: 0px;
  margin-bottom: 0px;
  height: auto;
}

.bookmarks-header-container {
  margin-bottom: 18px;
  width: 100%;
  & div {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    // height: 24px;
    min-height: 24px;
    padding: 0px 14px 0px 15px;
    margin-top: 6px;
    margin-bottom: 2px;
  }
}
.team-header-container {
  margin-bottom: 18px;
  width: 100%;
  & div {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    // height: 24px;
    min-height: 24px;
    padding: 0px 14px 0px 15px;
    margin-top: 6px;
    margin-bottom: 2px;
  }
}

.bookmarks {
  display: block;
  text-decoration: none;
  color: inherit;
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  width: calc(100% - 8px);
  border-radius: 3px;
  margin-left: 4px;
  margin-right: 4px;
}
.bookmarks-header{
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  min-height: 24px;
  padding: 0px 14px 0px 15px;
  margin-top: 6px;
  margin-bottom: 2px;
}

.team-container {
  display: flex;
  flex-direction: column;
}
.team {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  min-height: 27px;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  margin-top : 0;
}

.team-header{
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  min-height: 24px;
  padding: 0px 14px 0px 15px;
  margin-top: 6px;
  margin-bottom: 2px;
}

#teamWorkspaceTagDelete{
  opacity: 0%;
  height : 20px;
  
  &:hover{
    opacity: 30%
  }
}

#refAddIcon{
  opacity: 0%;
  width: 10px;
  margin-left: -10px;
  &:hover{
    opacity: 30%;
  }
}


#checkboxForm{
  align-items: start;
}
#logoutButton:hover, #workspaceAddButton:hover{
  background-color: lightgray;
  opacity: 0.6;
}


#alarmMenu{
  &:hover{
  }
}